
body {
  background-color: #f8f9fa;
}
.hero {
  text-align: center;
  padding: 30px 15px;
}
.hero img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.tech i {
  font-size: 2.5rem;
  margin-bottom: 5px;
  color: #6c63ff;
}
footer {
  background: #f1d1f5;
  text-align: center;
  padding: 15px;
}
footer i {
  font-size: 1.3rem;
  margin: 0 8px;
  color: #6c63ff;
}